/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
  /* End Variables */
  /* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: silver;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
a {
    text-decoration: none;
}
/* Staring Header */
header {
    padding: 20px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #a2a2a2;
    width: calc(100% - 25px);
    bottom: -20px;
    left: 15px;
    z-index: 100;
}
header img {
    height: 40px;
}
header nav ul {
    display: flex;
}
header nav ul li:not(:first-child) {
    padding-left: 25px;
}
.fa-solid {
    display: none;
}
header nav ul .active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 28px;
    z-index: 1000px;
}
header li:hover a {
    border-bottom:  solid var(--main-color);
    padding-bottom: 28px;
    color: var(--main-color);
}
header nav ul a {
    color: #eee;
}
@media (max-width: 767px) {
    .fa-solid {
    display: block;
}
    header nav {
        display: flex;
    }
    header nav .fa-list-ul {
        margin-right: 20px;
        padding-right: 20px;
        border-right: 3px solid #eee;
    }
    header nav i {
        color: #eee;
    }
    header nav ul {
        position: absolute;
        top: 65px;
        width: 115%;
        left: -20px;
        background-color:rgb(0 0 0 / 25%);
        display: none;
    }
    header nav ul li:first-of-type {
        border-bottom: 2px solid var(--main-color);
    }
    header nav ul a {
        color: #eee;
    }
    header nav:hover ul {
        display: block;
    }
    header nav ul .active {
        border-bottom: 3px solid transparent;
        padding-left: 10px;
    }
    header nav ul li {
        padding: 15px;
        width: 100%;
        font-weight: bold;
    }
}
 /* start landing */
.landing {
    position: relative;
    background-image: url(../images/landing.jpg);
    top: -115px;
    height: 110vh;
    z-index: -100;
}
.land-body {
    height: 110vh;
    background-color:rgb(0 0 0 / 60%);
    z-index: -200;
}
.land-text {
    position: absolute;
    top: calc(50% - 175px);
    width: 1000px;
    height: 350px;
    background-color: var(--transparent-color);
    padding: 24px;
    padding-left: 400px;
    color: #fff;
    line-height: 2em;
}
.landing .land-body i {
    position: absolute;
    font-size: 25px;
    color: #fff;
    top: 50%;
    z-index: 800000;
    font-weight: bold;
}
.landing .fa-angle-right {
    right: 25px;
    z-index: 100000;
}
.landing .fa-angle-left {
    left: 25px;
    z-index: 10000000;
}
.bullets {
    z-index: 100000000;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    color: transparent;
}
.bullets i {
    margin: 5px;
    border: 1px solid #eee;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.bullets i:nth-child(2) {
    background-color: var(--main-color);
    border: 1px solid transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    
}
/* start services */
.services {
    padding-top: 30px;
    padding-bottom: var(--section-padding);
}
.special-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    position: relative;
}
.special-heading h1 {
    padding-bottom: 50px;
}
.special-heading h1::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: 50%;
    left: calc(50% - 10px);
    z-index: 1;
}
.special-heading h1::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    top: calc(50% - 12.5px);
    left: calc(50% - 60px);
    background-color: black;
    z-index: -1;
}
.special-heading p {
    width: 550px;
    line-height: 2em;
    text-align: center;
    color: #777;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 100px;
    grid-row-gap: 70px;
    }
.services h2 {
    color: var(--main-color);
    padding: 15px;
}
.services .col {
    position: relative;
}
.services .col i {
    position: absolute;
    left: -75px;
    top: 15px;
}
